---
import { type CollectionEntry } from "astro:content";
import { PostTypeEnum } from "../../utils/types/Post";
import FormattedDate from "../FormattedDate.astro";
interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

let icon = "fa-note";

switch (post.data.type) {
  case PostTypeEnum.enum.note:
    icon = "fa-regular fa-note text-slate-500";
    break;
  case PostTypeEnum.enum.article:
    icon = "fa-regular fa-newspaper text-orange-500";
    break;
  case PostTypeEnum.enum.like:
    icon = "fa-regular fa-heart text-red-500";
    break;
  case PostTypeEnum.enum.location:
    icon = "fa-solid fa-location-dot text-green-500";
    break;
  default:
    icon = "fa-regular fa-note text-slate-500";
    break;
}

const showDescription = post.data.title !== post.data.description;
---

<style>
  img {
    @apply md:hidden;
  }

  i {
    @apply pr-1;
  }

  .h-entry {
    @apply pb-4;
  }
  .p-name {
    @apply pb-2 text-xl md:text-lg text-cyan-700 flex gap-2 underline underline-offset-4;
  }

  .post-image {
    @apply rounded-md md:max-w-lg md:h-40 md:py-2;
  }
  .type {
    @apply text-xs font-mono;
  }

  .post-details {
    @apply pt-2 text-xs flex gap-2 flex-wrap;
  }

  .h-card {
    @apply font-mono text-neutral-900;
  }
</style>

<div class="h-entry">
  <!-- Entry -->
  <div>
    <span class="type"
      ><i class={icon}></i>{post.data.type.toLocaleUpperCase()}</span
    >
    <a href={`/blog/${post.slug}`} class="p-name u-url">{post.data.title}</a>
    {
      post.data.heroImage && (
        <img
          src={post.data.heroImage}
          alt="Hero image for post. Not totally useful alt but the photo isn't really useful either"
          class="post-image"
        />
      )
    }
    {showDescription && <span>{post.data.description}</span>}
  </div>
  <!-- Post details -->
  <p class="post-details">
    <FormattedDate classList="dt-published" date={post.data.pubDate} /><span
      ><a class="p-author h-card" href="https://heyjaywilson.com" rel="me"
        ><i class="fa-solid fa-address-book"></i>Jay Wilson</a
      ></span
    ><span
      ><i class="fa-regular fa-tags"></i>{
        post.data.tags.map((tag) => <a href="/tags/${tag}" class="p-category pr-1">#{tag}</a>)
      }</span
    >
  </p>
  <hr />
</div>
