---
import { type CollectionEntry } from "astro:content";
import { PostTypeEnum } from "../../utils/types/Post";
import FormattedDate from "../FormattedDate.astro";
interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

let icon = "fa-note";

switch (post.data.type) {
  case PostTypeEnum.enum.note:
    icon = "fa-regular fa-note text-slate-500";
    break;
  case PostTypeEnum.enum.article:
    icon = "fa-regular fa-newspaper text-orange-500";
    break;
  case PostTypeEnum.enum.like:
    icon = "fa-regular fa-heart text-red-500";
    break;
  case PostTypeEnum.enum.location:
    icon = "fa-solid fa-location-dot text-green-500";
    break;
  case PostTypeEnum.enum.post:
    icon = "fa-regular fa-walkie-talkie text-blue-500";
    break;
  default:
    break;
}
---

<a href={`/blog/${post.slug}`} class="md:flex md:mb-8 text-slate-950 items-top">
  <i class={`${icon} pt-2 hidden md:inline-block`}></i>
  <div class="px-4 pt-2 pb-4 md:py-0 flex-grow flex">
    <i class={`${icon} pt-2 pr-2 md:hidden`}></i>
    <div>
      <h3 class="text-lg font-bold pb-0">{post.data.title}</h3>
      <p class="p-0 font-mono text-sm">
        <FormattedDate date={post.data.pubDate} />
      </p>
      <p class="p-0">{post.data.description}</p>
    </div>
  </div>
  {
    post.data.heroImage && (
      <img
        src={post.data.heroImage}
        alt=""
        class="rounded-b-md md:rounded-none w-full md:w-32 md:h-full"
      />
    )
  }
</a>
