<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <meta name="generator" content="{{eleventy.generator}}">
    {% if canonical_url %}<link rel="canonical" href="{{ canonical_url }}">{% endif %}
    <!-- Webmentions -->
    <link
      rel="webmention"
      href="https://webmention.io/heyjaywilson.com/webmention"
    >
    <link rel="pingback" href="https://webmention.io/heyjaywilson.com/xmlrpc">
    <!-- Primary Meta Tags -->
    <title>
      {% if title %}{{ title }} - By Jay{% else %}👋 Hi! I'm Jay{% endif %}
    </title>
    <meta name="title" content="{% if title %}{{ title }}{% else %}👋 Hi! I'm Jay{% endif %} - A site by HeyJayWilson">
    <meta
      name="description"
      content="{% if description %}{{description}}{% else %}A page for HeyJayWilson.com{% endif %}"
    >

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://heyjaywilson.com{{ page.url }}">
    <meta
      property="og:title"
      content="{% if title %}{{ title }}{% else %}👋 Hi! I'm Jay{% endif %} - A site by HeyJayWilson"
    >
    <meta
      property="og:description"
      content="{% if description %}{{description}}{% else %}A page for HeyJayWilson.com{% endif %}"
    >
    {% comment %} <meta property="og:image" content="{new" URL(image, Astro.url)}> {% endcomment %}

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://heyjaywilson.com{{ page.url }}">
    <meta
      property="twitter:title"
      content="{% if title %}{{ title }}{% else %}👋 Hi! I'm Jay{% endif %} - A site by HeyJayWilson"
    >
    <meta
      property="twitter:description"
      content="{% if description %}{{description}}{% else %}A page for HeyJayWilson.com{% endif %}"
    >
    {% comment %} <meta property="twitter:image" content="{new" URL(image, Astro.url)}> {% endcomment %}

    <!-- Style -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    >
  </head>
  <body>
    <header>
      {% render 'navigation' %}
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <ul class="social">
        {% for social in socials.socialLinks %}
          <li class="social-item">
            <a href="{{ social.link }}" class="social-item"
              ><i class="fa-brands {{ social.fontAwesome }}"></i> {{ social.name -}}
            </a>
          </li>
        {% else %}
          <li>This collection is empty</li>
        {% endfor %}
      </ul>
      &copy; {{ currentYear }} CCT Plus LLC
    </footer>
    <!-- Font Awesome -->
    <script defer src="https://kit.fontawesome.com/6be091a552.js" crossorigin="anonymous"></script>

    <!-- Analytics using telemetry deck -->
    <script
      defer
      src="https://cdn.telemetrydeck.com/websdk/telemetrydeck.min.js"
      data-app-id="7FD683B8-983F-4FDA-8838-4B4DC4FAF911"
    ></script>
  </body>
</html>
