---
import FormattedDate from "./FormattedDate.astro";
import { getCollection } from "astro:content";

const featuredPosts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((a) => a.data.isFeatured?.valueOf() === true).slice(0, 1);
---

<section>
    <h2 class="py-4">Featured post</h2>
    <ul class="mb-8 lg:mb-16">
      {
        featuredPosts.map((post) => (
          <li class="h-full">
            <a
              href={`/blog/${post.slug}/`}
              class="h-full flex flex-col gap-y-2 justify-between"
            >
              {post.data.heroImage && (
                <img
                  src={post.data.heroImage}
                  alt=""
                  class="rounded-md w-full h-40 object-cover"
                />
              )}
              <h3 class="flex-grow">{post.data.title}</h3>
              <p class="font-mono text-sm">
                <FormattedDate date={post.data.pubDate} />
              </p>
              <p class="flex-grow">{post.data.description}</p>
              <button class="bg-orange-500 p-2 rounded-md text-slate-50 font-semibold">
                Read post
              </button>
            </a>
          </li>
        ))
      }
    </ul>
    </section>