---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/site/BaseHead.astro";
import Navigation from "../components/global/navigation/Navigation.astro";
import Footer from "../components/global/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import MentionsForPage from "../components/mentions/MentionsForPage.astro";
import { date } from "astro/zod";

type Props = CollectionEntry<"blog">["data"];

const {
  metatitle,
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  includeBMC,
  tags,
  canonicalURL,
  type,
} = Astro.props;

const showDescription = type === "article";
const showTitle = type === "article";
---

<html lang="en">
  <head>
    <BaseHead
      metaTitle={metatitle ?? title}
      title={title}
      description={description}
      image={heroImage ?? "/blog-placeholder-2.jpg"}
      canonicalURL={canonicalURL}
    />
    <script type="module">
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
      mermaid.initialize({ startOnLoad: true });
    </script>
  </head>

  <body>
    <Navigation />
    <main class="page-padding">
      <article class="h-entry">
        <!-- Article -->
        <div>
          <div class="font-mono pb-4 text-xs">
            {showTitle && <h1 class="p-name">{title}</h1>}
            {showDescription && <p class="p-summary text-sm">{description}</p>}
            <div class="flex gap-x-4">
              <div>Published: <FormattedDate classList="dt-published" date={pubDate} /></div>
              {
                updatedDate && (
                  <div>
                    Last updated: <FormattedDate classList="dt-updated" date={updatedDate} />
                  </div>
                )
              }
            </div>
            {
              canonicalURL && (
                <blockquote class="italic bg-transparent border-orange-800 text-slate-600">
                  Originally posted <a href={canonicalURL} class="u-syndication">here</a>
                </blockquote>
              )
            }
          </div>
          <div class="content">
            <slot />
          </div>
        </div>
        <hr class="mt-4 my-2 border-slate-400 rounded-md border-1;" />
        <div id="tags" class="py-4 flex flex-wrap">
          {
            tags.map((tag) => (
              <span class="mr-4 font-mono">
                <a href={`/tag/${tag}`} class="p-category no-underline">
                  <span class="font-bold">#</span>
                  {tag}
                </a>
              </span>
            ))
          }
        </div>

        <div class="h-card text-xs">
            <p>
              Written by <a href="/" class="p-name u-url text-slate-900"><i class="fa-solid fa-address-book"></i> Jay Wilson<a/> on <FormattedDate classList="dt-published" date={pubDate}/>
            </p>
        </div>
      </article>

      <hr class="mt-4 my-2 border-slate-400 rounded-md border-1;" />
      {
        includeBMC && (
          <div class="text-center flex flex-col items-center mb-8">
            <p class="w-1/2">
              Thanks for reading! If you found this post useful consider buying me a coffee, so I can keep making posts like this.
            </p>
            <>
              <script
                type="text/javascript"
                src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"
              />
              <script type="text/javascript">
                kofiwidget2.init('Buy me a coffee', '#29abe0',
                'W7W2FFDSW');kofiwidget2.draw();
              </script>
            </>
          </div>
        )
      }
      <MentionsForPage />
    </main>

    <Footer />
  </body>
</html>

<style is:global>
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply pt-4;
  }
  h3 {
    @apply pt-2 pb-1;
  }
  p {
    @apply py-2;
  }
  ul {
    @apply list-disc list-outside p-2 ms-8;
  }
  blockquote {
    @apply px-4 py-1 my-4 border-l-4 border-cyan-500 bg-cyan-900/10 rounded-r-md w-full;
  }

  blockquote > p {
    @apply py-1;
  }
  blockquote > p > strong {
    @apply font-bold font-mono;
  }

  hr {
    @apply my-2 border-cyan-800 rounded-md border-2;
  }
  pre {
    @apply p-8 rounded-md;
  }

  .content img {
    @apply m-auto rounded-lg shadow-lg shadow-zinc-600/50 border border-zinc-500;
    max-width: 80%;
  }

  .page-padding {
    @apply px-2 mt-8;
  }
</style>