---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/site/BaseHead.astro';
import Navigation from '../components/site/Navigation.astro';
import Footer from '../components/site/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import MentionsForPage from '../components/mentions/MentionsForPage.astro';

type Props = CollectionEntry<'blog'>['data'];

const {
  metatitle,
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  includeBMC,
  tags,
  canonicalURL,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead
      metaTitle={metatitle ?? title}
      title={title}
      description={description}
      image={heroImage ?? '/blog-placeholder-2.jpg'}
    />
  </head>

  <body>
    <div class="container">
    <Navigation />
    <main>
      <article class="h-entry">
        <div>
          {
            heroImage && (
              <img
                src={heroImage}
                alt={`Image for ${metatitle ?? title}`}
              />
            )
          }
        </div>
        <!-- Article -->
        <div>
          <div>
            <h1 class="p-name">{title}</h1>
            <p class="p-summary">{description}</p>
            <div class="text-xs flex gap-x-4">
              <div class="postDate">Published: <FormattedDate classList='dt-published' date={pubDate} /></div>
              {
                updatedDate && (
                  <div>
                    Last updated: <FormattedDate classList='dt-updated' date={updatedDate} />
                  </div>
                )
              }
            </div>
            {
              canonicalURL && (
                <blockquote class="italic bg-transparent border-orange-800 text-slate-600">
                  Originally posted <a href={canonicalURL}>here</a>
                </blockquote>
              )
            }
          </div>
          <div class="e-content">
            <slot />
          </div>
        </div>
        <hr/>
        <div id="tags">
          {
            tags.map((tag) => (
              <span>
                <a href={`/tag/${tag}`} class="no-underline">
                  <span>#</span>
                  {tag}
                </a>
              </span>
            ))
          }
        </div>
      </article>

      {
        includeBMC && (
          <div id="#buymecoffee">
              <script
                type="text/javascript"
                src="https://storage.ko-fi.com/cdn/widget/Widget_2.js"
              />
              <script type="text/javascript">
                kofiwidget2.init('Buy me a coffee', '#29abe0',
                'W7W2FFDSW');kofiwidget2.draw();
              </script>
          </div>
        )
      }
      <MentionsForPage />
    </main>
    <Footer />
    </div>
  </body>
</html>

<style>
  .postDate {
    font-family: var(--accent-font);
  }

  #tags {
    padding: var(--padding-lg) 0;
    display: flex;
    gap: var(--gap-md);
  }

  img {
    margin-bottom: var(--margin-xl);
  }

  h1 {
    margin-bottom: 0;
  }
</style>